In [1]:
#Cria-se uma lista e atribui os valores da mesma a uma variável utilizando for. for(para) nome(variável) in(receba o valor) nome_cidades (lista)
nomes_cidades = ['Rio de Janeiro', 'Veneza', 'Casaquistão']
for nome in nomes_cidades:
    print(nome)

Rio de Janeiro
Veneza
Casaquistão

In [2]:
#Também funciona com tuplas
nomes_cidades = 'Rio de Janeiro', 'Veneza', 'Casaquistão'
for nome in nomes_cidades:
    print(nome)

Rio de Janeiro
Veneza
Casaquistão

In [10]:
# Assim como em dicionários
cidade = {
    'nome' : 'Rio de Janeiro',
    'estado' : 'Rio de Janeiro',
    'populacao' : '15'
    
}
for chave in cidade:
    print (f'{chave} : {cidade[chave]}')

nome : Rio de Janeiro
estado : Rio de Janeiro
populacao : 15

In [7]:
# Método range, que possibilita criar uma lista de números com o valor final sendo -1 . (10 -1 = 9). 
# Se necessário o valor inicial separado por virgula, e um encremento na ultima posição
print(list(range(10)))
print(list(range(2,10)))
print(list(range(3,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 6, 9]